@model ParameterEditor.MainPageModel.MainPageModel





@*<div id="content" style="background-color:#EEEEEE;width:80%;float:left;">*@
<div id="itemList">


    contents go here
</div>

    @*</div>

<div id="details" style="background-color:#b6ff00;height:200px;width:20%;float:left;">

    Details go here
    </div>*@

