@using PagedList;
@model IPagedList<ParameterEditor.Models.Country>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />


    <div id="itemList">
   
 
         @Html.Partial("_Countries", Model)

    </div>
